<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>一覧画面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link href="/output.css" rel="stylesheet">
    <style>
        .custom-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body>
    <div th:replace="~{'common/header' :: header}"></div>
    <h2>一覧画面</h2>

    <form th:action="@{/list/search}" method="get" th:object="${target}">
        <label for="title">題名：</label>
        <input type="text" th:field="*{title}">
        <br><br>

        <label for="condition">回答状況：</label>
        <select th:field="*{condition}">
            <option th:each="condition : ${conditions}" th:value="${condition}"
                th:text="${condition.postMessage}" th:selected="${condition == selectedCondition}"></option>
        </select>
        <br><br>

        <label for="departmentId">依頼者:</label>
        <select name="departmentId">
            <option th:each="department : ${departments}" th:value="${department.id}"
                th:text="${department.departmentName}" th:selected="${department.id == selectedDepartmentId}"></option>
        </select>
        <br><br>

        <label for="eventDate">日付:</label>
        <input type="text" th:field="*{eventDate}">
        <br><br>

        <button type="submit">検索</button>
    </form>


    <div th:if="${postsList.size() == 0}">
        登録データが1件もありません。
    </div>
    <table th:if="${postsList.size() >= 1}">
        <thead>
            <tr>
                <th>回答状況</th>
                <th>id</th>
                <th>題名</th>
                <th>本文</th>
                <th>日付</th>
            </tr>
        </thead>
        <tbody th:each="postsInfo : ${postsList}" th:object=${postsInfo}>
            <tr style="cursor: pointer;" th:onclick="'location.href=\'/list/' + ${postsInfo.id} + '\';'">
                <td th:text="${postsInfo.status.postMessage}"></td>
                <td th:text="${postsInfo.id}"></td>
                <td th:text="${postsInfo.postInfo.title}"></td>
                <td th:text="${postsInfo.postInfo.content}"></td>
                <td th:text="${postsInfo.postInfo.eventDate}"></td>
                <td th:text="${postsInfo.userInfo != null ? postsInfo.userInfo.loginId : 'No User'}">Login ID</td>
            </tr>
        </tbody>
    </table>

    <script>
        // Flatpickrを初期化
        flatpickr("#eventDate", {
            dateFormat: "Y-m-d", // フォーマットを指定
            enableTime: false,   // 時間を選択できないようにする
            local: "ja",
        });
    </script>
</body>

</html>