<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>一覧画面</title>
    <link href="/output.css" rel="stylesheet">
    <style>
        .custom-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body>
    <div th:replace="~{'common/header' :: header}"></div>
    <h2>一覧画面</h2>
    <div th:if="${postsList.size() == 0}">
        登録データが1件もありません。
    </div>
    <table th:if="${postsList.size() >= 1}">
        <thead>
            <tr>
                <th>回答状況</th>
                <th>id</th>
                <th>題名</th>
                <th>本文</th>
                <th>日付</th>
            </tr>
        </thead>
        <tbody th:each="postsInfo : ${postsList}" th:object=${postsInfo}>
            <tr style="cursor: pointer;" th:onclick="'location.href=\'/list/' + ${postsInfo.id} + '\';'">
                <td th:text="${postsInfo.status.postMessage}"></td>
                <td th:text="${postsInfo.id}"></td>
                <td th:text="${postsInfo.postInfo.title}"></td>
                <td th:text="${postsInfo.postInfo.content}"></td>
                <td th:text="${postsInfo.postInfo.eventDate}"></td>
                <td th:text="${postsInfo.userInfo != null ? postsInfo.userInfo.loginId : 'No User'}">Login ID</td>
            </tr>
        </tbody>
    </table>

</body>

</html>