<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <link href="/output.css" rel="stylesheet">
    <style>
        .custom-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="w-full max-w-xs">
        <span th:text="${errorMsg}" class="text-base text-red-500"></span>
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" th:action="@{/login}" method="post"
            th:object="${loginForm}">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">ログインID</label>
                <input
                    class="custom-input shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" th:field="*{loginId}">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2">パスワード</label>
                <input
                    class="custom-input shadow border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    type="password" th:field="*{password}">
            </div>
            <div>
                <input class="custom-input bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    type="submit" value="ログイン">
            </div>
        </form>
        <a th:href="@{/signup}" class="text-base text-gray-400 hover:text-gray-600">▶ユーザー登録画面へ</a>
    </div>
</body>

</html>