<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>フォーム画面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link href="/output.css" rel="stylesheet">
    <style>
        .custom-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body class="bg-white">
    <div th:replace="~{'common/header' :: header}"></div>
    <div class="p-5">
        <form class="w-full p-5 bg-sky-100 border-8 border-sky-600 border-double rounded-md" th:action="@{/post}" method="post" th:object="${postForm}">
            <div class="flex flex-wrap mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-500 text-2xl font-bold mb-2"
                        for="title">題名</label>
                    <input
                        class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-sky-500"
                        type="text" th:field="*{title}">
                </div>
            </div>

            <div class="flex flex-wrap mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-500 text-2xl font-bold mb-2"
                        for="content">本文</label>
                    <textarea
                        class="shadow appearance-none block w-full h-80 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-sky-500"
                        th:field="*{content}"></textarea>
                </div>
            </div>

            <div class="flex flex-wrap mb-2">
                <div class="w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-500 text-2xl font-bold mb-2">宛先</label>
                    <div class="relative">
                        <select
                            class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-sky-500"
                            multiple name="departmentId" required>
                            <option th:each="department : ${departments}" th:value="${department.id}"
                                th:text="${department.departmentName}"
                                th:selected="${department.id == selectedDepartmentId}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-500 text-2xl font-bold mb-2"
                        for="eventDate">日付</label>
                    <input
                        class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-5 leading-tight focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-sky-500"
                        type="text" th:field="*{eventDate}">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        type="submit">送信</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        // Flatpickrを初期化
        flatpickr("#eventDate", {
            dateFormat: "Y-m-d", // フォーマットを指定
            enableTime: false,   // 時間を選択できないようにする
            local: "ja",
        });
    </script>
</body>

</html>