<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>フォーム画面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link href="/output.css" rel="stylesheet">
    <style>
        .custom-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body>
    <div th:replace="~{'common/header' :: header}"></div>
    <form th:action="@{/post}" method="post" th:object="${postForm}">
        <label for="title">題名:</label>
        <input type="text" th:field="*{title}">
        <br><br>

        <label for="content">本文:</label>
        <input type="text" th:field="*{content}">
        <br><br>

        <label for="eventDate">日付:</label>
        <input type="text" th:field="*{eventDate}">
        <br><br>

        <button type="submit">送信</button>
    </form>

    <script>
        // Flatpickrを初期化
        flatpickr("#eventDate", {
            dateFormat: "Y-m-d", // フォーマットを指定
            enableTime: false,   // 時間を選択できないようにする
            local: "ja",
        });
    </script>
</body>

</html>