<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>投稿詳細画面</title>
    <link href="/output.css" rel="stylesheet">
    <style>
        .custom-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body>
    <div th:replace="~{'common/header' :: header}"></div>
    <div th:if="${request == null}">
        <p>登録データはありません</p>
    </div>
    <div th:if="${request != null}">
        <ul>
            <li th:each="post : ${request.postsInfos}" th:text="${post.departmentInfo.departmentName}">Post
                DepartmentName</li>
        </ul>
        <p>題名: <span th:text="${request.title}"></span></p>
        <p>本文: <span th:text="${request.content}"></span></p>
        <p>日付: <span th:text="${request.eventDate}"></span></p>
    </div>
    <div th:if="${answerList.size() == 0}">
        回答データが1件もありません。
    </div>
    <table th:if="${answerList.size() >= 1}">
        <thead>
            <tr>
                <th>回答者</th>
                <th>本文</th>
            </tr>
        </thead>
        <tbody th:each="answer : ${answerList}" th:object=${answer}>
            <td th:text="${answer.userInfo.loginId}"></td>
            <td th:text="*{content}"></td>
        </tbody>
    </table>
    <a th:href="@{/request}">▶依頼一覧画面へ戻る</a>
</body>

</html>