<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>投稿詳細画面</title>
    <link href="/output.css" rel="stylesheet">
    <style>
        .custom-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body>
    <div th:replace="~{'common/header' :: header}"></div>
    <div th:if="${message != null}" role="alert" class="pt-5 px-5">
        <div th:text="${message}" class="flex items-center bg-red-600 text-white text-lg font-bold py-3 pl-3"></div>
    </div>
    <div class="grid grid-cols-5 grid-rows-10 gap-6 px-5 pb-5 pt-8">
        <h1
            class="flex items-center justify-start col-span-1 row-span-1 bg-gradient-to-r from-sky-500 via-sky-300 to-sky-100 pl-3 border-b-4 border-sky-600 text-white text-2xl font-bold">
            依頼文</h1>
        <form th:action="@{/tasklist/{taskId}/responsible(taskId=${task.id})}" method="post" th:object="${responsibleForm}"
            class="col-start-1 col-span-1 row-start-2 row-span-1 flex items-center justify-start gap-x-2">
            <select name="userId" class="shadow border border-gray-200 rounded py-2 px-3 leading-tight" required>
                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.loginId}"
                    th:selected="${user.id == selectedUserId}" class="text-sm font-bold text-gray-700">
                </option>
            </select>
            <button type="submit"
                class="bg-slate-400 hover:bg-slate-500 text-white font-bold py-2 px-3 rounded text-sm">担当者になる</button>
        </form>
        <div th:if="${task == null}" class="col-start-1 col-span-1 row-start-3 row-span-4">
            <p>登録データーはありません</p>
        </div>
        <table th:if="${task != null}"
            class="border border-slate-100 col-start-1 col-span-5 row-start-3 row-span-4 grid grid-rows-4 grid-cols-6">
            <tbody class="col-span-6 row-span-4 grid grid-rows-5 grid-cols-6">
                <tr class="col-span-6 row-span-1 grid grid-cols-6 grid-rows-1">
                    <th
                        class="border border-slate-100 col-span-1 row-span-1 bg-slate-400 text-white text-xl font-bold flex items-center justify-center">
                        題名</th>
                    <td class="border border-slate-100 col-span-3 row-span-1 flex items-center justify-start"
                        th:text="${task.requestInfo.title}"></td>
                    <th
                        class="border border-slate-100 col-span-1 row-span-1 bg-slate-400 text-white text-xl font-bold flex items-center justify-center">
                        回答期日</th>
                    <td class="border border-slate-100 col-span-1 row-span-1 flex items-center justify-center"
                        th:text="${task.requestInfo.eventDate}"></td>
                </tr>
                <tr class="col-span-6 row-span-3 grid grid-cols-6 grid-rows-1">
                    <th
                        class="border border-slate-100 col-span-1 row-span-3 bg-slate-400 text-white text-xl font-bold flex items-center justify-center">
                        本文</th>
                    <td class="border border-slate-100 col-span-5 row-span-3" th:text="${task.requestInfo.content}"></td>
                </tr>
                <tr class="col-span-6 row-span-1 grid grid-cols-6 grid-rows-1">
                    <th
                        class="border border-slate-100 col-span-1 row-span-1 bg-slate-400 text-white text-xl font-bold flex items-center justify-center">
                        ファイル</th>
                    <td class="border border-slate-100 col-span-5 row-span-1"><a
                            th:href="@{/requestFile/{id}(id=${task.requestInfo.id})}" th:text="${task.requestInfo.fileName}"
                            download></a></td>
                </tr>
            </tbody>
        </table>
        <h1
            class="flex items-center justify-start col-span-5 row-start-7 row-span-1 bg-gradient-to-r from-sky-500 via-sky-300 to-sky-100 pl-3 border-b-4 border-sky-600 text-white text-2xl font-bold">
            回答</h1>
        <form th:action="@{/tasklist/{taskId}/answer(taskId=${task.id})}" method="post" th:object="${answerForm}"
            class="col-start-1 col-span-5 row-start-8 row-span-2 grid grid-cols-7 grid-rows-3 gap-3"
            enctype="multipart/form-data">
            <textarea type="text" th:field="*{content}"
                class="row-span-1 col-span-7 shadow appearance-none text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-sky-500"></textarea>
            <label
                class="tracking-wide text-gray-500 text-2xl font-bold col-start-1 row-start-2 row-span-1 col-span-1 flex items-start justify-start"
                for="eventDate">添付ファイル</label>
            <input
                class="leading-tight focus:outline-none col-start-2 row-start-2 col-span-2 row-span-1"
                type="file" th:field="*{file}">
            <button type="submit"
                class="row-end-4 row-span-1 col-end-8 col-span-1 bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-3 rounded text-2xl">回答する</button>
        </form>
        <a th:href="@{/tasklist}"
            class="col-end-6 col-span-1 row-start-10 row-span-1 text-base text-gray-400 hover:text-gray-500 font-medium flex justify-end items-start">▶投稿一覧画面へ戻る</a>
    </div>
</body>

</html>